{% extends 'base.html.twig' %}

{% block title %}Fiches Clients{% endblock %}

{% block page %}
	Liste des Fiches Clients
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="card-title">Liste des Fiches Clients</h5>
					<table class="mb-0 table table-striped">
						<thead>
							<tr style="text-align: center;">
								<th>BROUILLON</th>
								<th>LOGISTIQUE</th>
								<th>DIRECTEUR</th>
								<th>COMPTABILITE</th>
								<th>TERMINEE</th>
								<th>REFUSEE</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="background-color: lightgray;"></td>
								<td style="background-color: #3CC9DA;"></td>
								<td style="background-color: #E9F259;"></td>
								<td style="background-color: #E0AC0A;"></td>
								<td style="background-color: lightgreen;"></td>
								<td style="background-color: darkred;"></td>
							</tr>
						</tbody>
					</table>

					<br>

					<table class="mb-0 table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Etape Fiche</th>
								<th>Crée le</th>
								<th>Nom d'Appel</th>
								<th>Raison Social</th>
								<th>Adresse de Livraison</th>
								<th>Code Postal / Ville (Livraison)</th>
								<th>Dernière Modification</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for customer in customersSheets %}
								<tr style="background-color: {{ customer.step.colorCode }}; color: {{ customer.company.colorText }};">
									<td>{{ customer.id }}</td>
									<td>{{ customer.step.name }}</td>
									<td>{{ customer.date|date('d/m/Y') }}</td>
									<td>{{ customer.callName }}</td>
									<td>{{ customer.socialReason }}</td>
									<td>{{ customer.deliveryAddress }}</td>
									<td>{{ customer.deliveryAddressZipCode }} {{ customer.deliveryAddressCity }}</td>
									<td>Dte Modif</td>
									{% if customer.step.name == "BROUILLON" or customer.step.name == "REFUSEE" %}
										<td><a type="button" class="btn btn-danger w100" href="{{ path("editCustomersSheets", {'id' : customer.id }) }}"><span class="btn-icon-wrapper pr-2 opacity-7"><i class="fa fa-edit fa-w-20"></i></span>Modifier la Fiche</a></td>
									{% else %}
										<td><a type="button" class="btn btn-success w100" href="{{ path("viewCustomersSheets", {'id' : customer.id }) }}"><span class="btn-icon-wrapper pr-2 opacity-7"><i class="fa fa-eye fa-w-20"></i></span>Visualiser la Fiche</a></td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}