{% set nbSection = 1 %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <style type="text/css">

        body {
            font-family: 'arial';
            margin: 0.5cm 0;
            text-align: justify;
            font-size: 16px;
            color: black;
        }

        #header{
            position: relative;
            top: -30px;
            left: 0;
            right: 0;
        }

        #footer {
            position: fixed;
            left: 0;
            right: 0;
            font-size: 0.9em;
        }

        #footer {
            bottom: 60px;
        }

        #header table,
        #footer table {
            width: 100%;
            border-collapse: collapse;
            border: none;
        }

        #header td,
        #footer td {
            padding: 0;
            width: 50%;
        }

        .page-number {
            text-align: right;
        }

        .page-number:before {
            content: "Page " counter(page);
        }

        hr {
            page-break-after: always;
            border: 0;
        }
        .gray{
            background-color: lightgray;
            color: black;
            font-weight: bold;
        }
        .backgroundColor{
            background-color: #70C057;
        }

    </style>
</head>

<body style="font-size: 9px;">
<div class="section section1">
    <div id="header">
        <table style="text-align: center; ;font-size: 10px; border: 1px solid black" >
            <tr>
                <td rowspan="5"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('images/LOGO/Reseau_Ribe.png') }}" width="95%" alt="logo"></td> 
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Date Création</td>
                <td>06/01/2015</td>
                <td>FE 2</td>
            </tr>
            <tr>
                <td>Date Version</td>
                <td>12/05/2022</td>
                <td></td>
            </tr>
            <tr>
                <td>Page</td>
                <td>01/1</td>
                <td>FICHE CREATION CLIENT</td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <table width="100%" style="margin-top: -42px; border-left: 1px solid black; border-right: 1px solid black">
            <tr>
                <td class="black">Date</td>
                <td>{{ customerSheet.date|date('d/m/Y') }}</td>
                <td class="black">Code Client</td>
                <td class="gray">{{ customerSheet.customerCode }}</td>
            </tr>
            <tr>
                <td class="black">Ouverture Demandé Par</td>
                <td class="gray">{{ customerSheet.username.firstName }} {{ customerSheet.username.lastName }}</td>
                <td class="black">Ancien Code Client (si existant)</td>
                <td class="gray">{{ customerSheet.oldCustomerCode }}</td>
            </tr>
            <tr>
                <td class="black" colspan="2">Compte Frère</td>
                <td colspan="2" class="gray">{{ customerSheet.accountBrother }}</td>
            </tr>
        </table>
        <table width="100%" style="border: 1px solid black">
            <tr class="backgroundColor" style="color: white;text-align: center;font-size: 9px">
                <td class="black" colspan="7">PARTIE A RENSEIGNER PAR LE COMMERCIAL</td>
            </tr>
            <tr style="text-align: center">
                <td class="black" colspan="7" style="border: 1px solid black;font-size: 9px">EXTRAIT KBIS + RIB + FICHE RETOUR CREDIT SAFE + SIGNATURE CGV</td>
            </tr>
            <tr>
                <td class="black">SITE</td>
                <td colspan="2" class="gray">{{ customerSheet.company.name }}</td>
            </tr>
            <tr>
                <td class="black">Comptes à créer</td>
                <td><input type="checkbox" {% if customerSheet.accountFL == 1 %}checked{% endif %} name="fl"/><label for="fl">Fruits & Légumes</label></td>
                <td><input type="checkbox" {% if customerSheet.account45g == 1 %}checked{% endif %} name="45g"/><label for="45g">4/5G</label></td>
                <td><input type="checkbox" {% if customerSheet.accountTide == 1 %}checked{% endif %}="maree"/><label for="maree">Marée</label></td>
                <td colspan="3"><input type="checkbox" {% if customerSheet.accountBOF == 1 %}checked{% endif %}="cremerie"/><label for="cremerie">BOF / Charcuterie / Volaille</label></td>
            </tr>
            <tr>
                <td class="black">Nom Appel du Client</td>
                <td colspan="2" class="gray">{{ customerSheet.callName }}</td>
                <td class="black">Téléphone Standard</td>
                <td colspan="2" class="gray">{{ customerSheet.phoneStandard }}</td>
                <td><input type="checkbox" {% if customerSheet.phoneStandardTel == 1 %}checked{% endif %} name="tel"/><label for="phoneStandardTel">Type Télévente</label></td>
            </tr>
            <tr>
                <td class="black">Code Gestion</td>
                <td colspan="2" class="gray">{{ customerSheet.codeManagement }}</td>
                <td class="black">Portable</td>
                <td colspan="2" class="gray">{{ customerSheet.phoneMobile }}</td>
                <td><input type="checkbox" {% if customerSheet.phoneMobileTel == 1 %}checked{% endif %} name="port"/><label for="phoneMobileTel">Type Télévente</label></td>
            </tr>
            <tr>
                <td class="black">Raison Sociale</td>
                <td colspan="2" class="gray">{{ customerSheet.socialReason }}</td>
                <td></td>
            </tr>
            <tr>
                <td class="black">Nom Grand Compte</td>
                <td colspan="2" class="gray">{{ customerSheet.nameAccount }}</td>
                <td class="black">Email Standard</td>
                <td class="gray" colspan="3">{{ customerSheet.mailStandard }}</td>
            </tr>
            <tr>
                <td class="black">Adresse Livraison</td>
                <td colspan="2" class="gray">{{ customerSheet.deliveryAddress }}</td>
                <td class="black">Client à appeler</td>
                <td><input type="checkbox" {% if customerSheet.callCustomer == 1 %}checked{% endif %} name="callCustomerOui"/><label for="callCustomerOui">Oui</label></td>
                <td><input type="checkbox" {% if customerSheet.callCustomer == 0 %}checked{% endif %} name="callCustomerNon"/><label for="callCustomerNon">Non</label></td>
                <td></td>
            </tr>
            <tr>
                <td class="black">Code Postal & Ville</td>
                <td colspan="2" class="gray">{{ customerSheet.deliveryAddressZipCode }} {{ customerSheet.deliveryAddressCity }}</td>
                <td></td>
                <td colspan="2" class="black" style="text-align: center">Jour</td>
                <td class="black" colspan="2" style="text-align: center">Horaire</td>
            </tr>
            <tr>
                <td class="black">N° SIRET</td>
                <td colspan="2" class="gray">{{ customerSheet.siret }}</td>
                <td></td>
                <td><input type="checkbox" {% if customerSheet.callMonday == 1 %}checked{% endif %} name="callMonday"/><label for="callMonday">Lundi</label></td>
                <td></td>
                <td colspan="2" class="gray" style="text-align: center">{{ customerSheet.hoursMonday }}</td>
            </tr>
            <tr>
                <td class="black">N° TVA intercommunautaire</td>
                <td colspan="2" class="gray">{{ customerSheet.tva }}</td>
                <td></td>
                <td><input type="checkbox" {% if customerSheet.callTuesday == 1 %}checked{% endif %} name="callTuesday"/><label for="callTuesday">Mardi</label></td>
                <td></td>
                <td colspan="2" class="gray" style="text-align: center">{{ customerSheet.hoursTuesday }}</td>
            </tr>
            <tr>
                <td class="black">Type Client</td>
                <td><input type="checkbox" {% if customerSheet.customerType == 1 %}checked{% endif %} name="customerTypePublic"/><label for="customerTypePublic">Public</label></td>
                <td><input type="checkbox" {% if customerSheet.customerType == 0 %}checked{% endif %} name="customerTypePrive"/><label for="customerTypePrive">Privé</label></td>
                <td></td>
                <td><input type="checkbox" {% if customerSheet.callWednesday  == 1 %}checked{% endif %} name="callWednesday"/><label for="callWednesday">Mercredi</label></td>
                <td></td>
                <td colspan="2" class="gray" style="text-align: center">{{ customerSheet.hoursWednesday }}</td>
            </tr>
            <tr>
                <td colspan="4">Si client public (= chorus), compléter impérativement les champs suivants :  n° SIRET,  n° engagement et code service</td>
                <td><input type="checkbox" {% if customerSheet.callThursday  == 1 %}checked{% endif %} name="callThursday"/><label for="callThursday">Jeudi</label></td>
                <td></td>
                <td colspan="2" class="gray" style="text-align: center">{{ customerSheet.hoursThursday }}</td>
            </tr>
            <tr>
                <td class="black">N° Engagement</td>
                <td colspan="2" class="gray">{{ customerSheet.commitmentNumber }}</td>
                <td></td>
                <td><input type="checkbox" {% if customerSheet.callFriday == 1 %}checked{% endif %} name="callFriday"/><label for="callFriday">Vendredi</label></td>
                <td></td>
                <td colspan="2" class="gray" style="text-align: center">{{ customerSheet.hoursFriday }}</td>
            </tr>
            <tr>
                <td class="black">Code Service</td>
                <td colspan="2" class="gray">{{ customerSheet.serviceCode }}</td>
                <td></td>
                <td><input type="checkbox" {% if customerSheet.callSaturday  == 1 %}checked{% endif %} name="callSaturday"/><label for="callSaturday">Samedi</label></td>
                <td></td>
                <td colspan="2" class="gray" style="text-align: center">{{ customerSheet.hoursSaturday }}</td>
            </tr>
            <tr>
                <td class="black">Adresse pour Envoi Factures<br>(si différente Adresse de Livraison)</td>
                <td colspan="2" class="gray">{{ customerSheet.invoiceAddress }} {{ customerSheet.invoiceAddressZipCode }} {{ customerSheet.invoiceAddressCity }}</td>
                <td class="black">Email Envoi Factures</td>
                <td colspan="7" class="gray">{{ customerSheet.mailInvoice }}</td>
            </tr>
            <tr>
                <td class="black">AFFTYPO CHAMP STAT 1</td>
                <td colspan="2" class="gray">{{ customerSheet.stat1 }}</td>
                <td class="black">Tarif Client</td>
                <td colspan="3" class="gray">{{ customerSheet.customerRate }}</td>
            </tr>
            <tr>
                <td class="black">AFFTYPO CHAMP STAT 2</td>
                <td colspan="2" class="gray">{{ customerSheet.stat2 }}</td>
                <td class="black">Envoi Tarif Auto</td>
                <td><input type="checkbox" {% if customerSheet.AutoSendRate == 1 %}checked{% endif %} name="AutoSendRateOui"/><label for="AutoSendRateOui">Oui</label></td>
                <td><input type="checkbox" {% if customerSheet.AutoSendRate == 0 %}checked{% endif %} name="AutoSendRateNon"/><label for="AutoSendRateNon">Non</label></td>
                <td></td>
            </tr>
            <tr>
                <td class="black">AFFTYPO CHAMP STAT 3</td>
                <td colspan="2" class="gray">{{ customerSheet.stat3 }}</td>
                <td class="black">Date 1ère Livraison</td>
                <td colspan="3" class="gray">{{ customerSheet.deliveryDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td class="black">AFFTYPO CHAMP STAT 4</td>
                <td colspan="2" class="gray">{{ customerSheet.stat4 }}</td>
                <td class="black">PVC</td>
                <td><input type="checkbox" {% if customerSheet.pvc == 1 %}checked{% endif %} name="pvcOui"/><label for="pvcOui">Oui</label></td>
                <td><input type="checkbox" {% if customerSheet.pvc == 0 %}checked{% endif %} name="pvcNon"/><label for="pvcNon">Non</label></td>
            </tr>
            <tr>
                <td class="black">AFFTYPO CHAMP STAT 5</td>
                <td colspan="2" class="gray">{{ customerSheet.stat5 }}</td>
                <td class="black">Coef PVC</td>
                <td colspan="3" class="gray">{{ customerSheet.coefPVC }}</td>
            </tr>
            <tr>
                <td class="black" colspan="2">Mode de Règlement/ * Joindre Courrier Acceptation</td>
                <td><input type="checkbox" {% if customerSheet.payAdvanced == 1 %}checked{% endif %} name="payAdvanced"/><label for="payAdvanced">Avance</label></td>
                <td><input type="checkbox" {% if customerSheet.payPayment == 1 %}checked{% endif %} name="payPayment"/><label for="payPayment">Virement</label></td>
                <td><input type="checkbox" {% if customerSheet.payBankCheck == 1 %}checked{% endif %} name="payBankCheck"/><label for="payBankCheck">Chèque Bancaire</label></td>
                <td><input type="checkbox" {% if customerSheet.paySampling == 1 %}checked{% endif %} name="paySampling"/><label for="paySampling">* Prélèvement</label></td>
            </tr>
        </table>
        <table width="100%" style="border: 1px solid black">
            <tr style="text-align: center;font-size: 9px">
                <td class="black" colspan="7" style="border: 1px solid black">CONTACTS</td>
            </tr>
            <tr>
                <td class="black">Dirigieant</td>
                <td class="black" >Nom</td>
                <td class="gray">{{ customerSheet.ctDirName }}</td>
                <td class="black">Tél</td>
                <td class="gray">{{ customerSheet.ctDirPhone }}</td>
                <td class="black">Mail</td>
                <td class="gray">{{ customerSheet.ctDirMail }}</td>
            </tr>
            <tr>
                <td class="black">Compta Règlement</td>
                <td class="black" >Nom</td>
                <td class="gray">{{ customerSheet.ctComptaName }}</td>
                <td class="black">Tél</td>
                <td class="gray">{{ customerSheet.ctComptaPhone }}</td>
                <td class="black">Mail</td>
                <td class="gray">{{ customerSheet.ctComptaMail }}</td>
            </tr>
            <tr>
                <td class="black">Responsable Commandes</td>
                <td class="black">Nom</td>
                <td class="gray">{{ customerSheet.ctComName }}</td>
                <td class="black">Tél</td>
                <td class="gray">{{ customerSheet.ctComPhone }}</td>
                <td class="black">Mail</td>
                <td class="gray">{{ customerSheet.ctComMail }}</td>
            </tr>
            <tr>
                <td class="black">Responsable Qualité</td>
                <td class="black">Nom</td>
                <td class="gray">{{ customerSheet.ctQuaName }}</td>
                <td class="black">Tél</td>
                <td class="gray">{{ customerSheet.ctQuaPhone }}</td>
                <td class="black">Mail</td>
                <td class="gray">{{ customerSheet.ctQuaMail }}</td>
            </tr>
            <tr>
                <td class="black">Chef de Secteur</td>
                <td class="black">Nom</td>
                <td class="gray">{{ customerSheet.ctSecName }}</td>
                <td class="black">Tél</td>
                <td class="gray">{{ customerSheet.ctSecPhone }}</td>
                <td class="black">Mail</td>
                <td class="gray">{{ customerSheet.ctSecMail }}</td>
            </tr>
        </table>
        <table width="100%" style="border: 1px solid black">
            <tr class="backgroundColor" style="color: white;text-align: center;font-size: 9px">
                <td class="black"colspan="7">PARTIE A RENSEIGNER PAR LA LOGISTIQUE</td>
            </tr>
            <tr>
                <td class="black">Jours de Livraison</td>
                <td class="black" style="text-align: center">LUNDI</td>
                <td class="black" style="text-align: center">MARDI</td>
                <td class="black" style="text-align: center">MERCREDI</td>
                <td class="black" style="text-align: center">JEUDI</td>
                <td class="black" style="text-align: center">VENDREDI</td>
                <td class="black" style="text-align: center">SAMEDI</td>
            <tr>
                <td class="black">Tournée</td>
                <td class="gray">{{ customerSheet.trMonday }}</td>
                <td class="gray">{{ customerSheet.trTuesday }}</td>
                <td class="gray">{{ customerSheet.trWednesday }}</td>
                <td class="gray">{{ customerSheet.trThursday }}</td>
                <td class="gray">{{ customerSheet.trFriday }}</td>
                <td class="gray">{{ customerSheet.trSaturday }}</td>
            </tr>
            <tr>
                <td class="black">N° Rang</td>
                <td class="gray">{{ customerSheet.rgMonday }}</td>
                <td class="gray">{{ customerSheet.rgTuesday }}</td>
                <td class="gray">{{ customerSheet.rgWednesday }}</td>
                <td class="gray">{{ customerSheet.rgThursday }}</td>
                <td class="gray">{{ customerSheet.rgFriday }}</td>
                <td class="gray">{{ customerSheet.rgSaturday }}</td>
            </tr>
            <tr>
                <td class="black" colspan ="2">Plage Horaire Livraison</td>
                <td colspan="2" class="gray">{{ customerSheet.timeSlot }}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td class="black" colspan="2">Coordonnées GPS Livraison</td>
                <td class="black" style="text-align: right">Latitude</td>
                <td class="gray">{{ customerSheet.latitude }}</td>
                <td class="black" style="text-align: right">Longitude</td>
                <td class="gray">{{ customerSheet.longitude }}</td>
                <td></td>
            </tr>
            <tr>
                <td class="black">Text sur BP</td>
                <td colspan="6" class="gray">{{ customerSheet.textBP }}</td>
            </tr>
            <tr>
                <td class="black">Text sur BL</td>
                <td colspan="6" class="gray">{{ customerSheet.textBL }}</td>
            </tr>
        </table>
        <table width="100%" style="border: 1px solid black">
            <tr class="backgroundColor" style="color: white;text-align: center;font-size: 9px">
                <td class="black" colspan="7">PARTIE A RENSEIGNER PAR LA DIRECTION</td>
            </tr>
            <tr>
                <td class="black">Attribution DIRECTION COMMERCIALE</td>
                <td class="gray">{{ customerSheet.commercialDirector }}</td>
                <td class="black">Date</td>
                <td class="gray" colspan="4">{# {{ customerSheet.dateValidDirection|date('d/m/Y') }} #}</td>
            </tr>
            <tr>
                <td class="black">Attribution COMMERCIAL MAÎTRE</td>
                <td class="gray">{{ customerSheet.commercialMaster }}</td>
                <td>Services Associés</td>
                <td class="black">Taux</td>
                <td class="gray">{{ customerSheet.taux1 }}</td>
                <td class="black">Nature</td>
                <td class="gray">{{ customerSheet.nature1 }}</td>
            </tr>
            <tr>
                 <td class="black">Attribution COMMERCIAL</td>
                <td class="gray">{{ customerSheet.commercial }}</td>
                <td></td>
                <td class="black">Taux</td>
                <td class="gray">{{ customerSheet.taux2 }}</td>
                <td class="black">Nature</td>
                <td class="gray">{{ customerSheet.nature2 }}</td>
            </tr>
            <tr>
                <td class="black">Attribution TELEVENDEUR</td>
                <td class="gray">{{ customerSheet.telemarketer }}</td>
                <td></td>
                <td class="black">Taux</td>
                <td class="gray">{{ customerSheet.taux3 }}</td>
                <td class="black">Nature</td>
                <td class="gray">{{ customerSheet.nature3 }}</td>
            </tr>
        </table>
        <table width="100%" style="border: 1px solid black">
            <tr class="backgroundColor" style="color: white;text-align: center;font-size: 9px">
                <td class="black" colspan="8">PARTIE A RENSEIGNER PAR LA COMPTABILITE</td>
            </tr>
            <tr>
                <td class="black">Minimum Livraison</td>
                <td class="black" style="text-align: right">Limite Frais</td>
                <td class="gray">{{ customerSheet.feeLimit }}</td>
                <td class="black" style="text-align: right">Montant</td>
                <td class="gray">{{ customerSheet.feeAmount }}</td>
                <td class="black">Délais de Règlement</td>
                <td colspan="2" class="gray">{{ customerSheet.paymentDeadlines }}</td>
            </tr>
            <tr>
                <td class="black" colspan="2">Frais de Développement Durable</td>
                <td><input type="checkbox" {% if customerSheet.developmentCosts == 1 %}checked{% endif %} name="090"/><label for="090">0,90 €</label></td>
                <td><input type="checkbox" {% if customerSheet.developmentCosts == 0 %}checked{% endif %} name="150"/><label for="150">1,50 €</label></td>
                <td class="black">Blocage Compte</td>
                <td><input type="checkbox" {% if customerSheet.accountBloc == 1 %}checked{% endif %} name="accountBlocOui"/><label for="accountBlocOui">Oui</label></td>
                <td><input type="checkbox" {% if customerSheet.accountBloc == 0 %}checked{% endif %} name="accountBlocNon"/><label for="accountBlocNon">Non</label></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>