<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Réseau Ribé > Connexion</title>
		<link rel="icon" type="image/ico" href="{{ asset("images/Sigle_Reseau_Ribe_Blanc.ico") }}">

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/vendor/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/fonts/iconic/css/material-design-iconic-font.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/vendor/animate/animate.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/vendor/css-hamburgers/hamburgers.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/vendor/animsition/css/animsition.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/vendor/select2/select2.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/vendor/daterangepicker/daterangepicker.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/css/util.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('LOGIN/css/main.css') }}">
	</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('{{ asset('images/background.jpg') }}');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" method="POST">
					<span class="login100-form-title p-b-49">
						<img src="{{ asset('images/Logo_Reseau_Ribe.png') }}" width="100%"/>
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">Identifiant 2B</span>
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input100" placeholder="Identifiant 2B" autocomplete="username" required autofocus>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Mot de Passe 2B</span>
						<input type="password" name="password" id="inputPassword" class="input100" placeholder="Mot de Passe 2B" autocomplete="current-password" required>
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<span class="label-input100">{% if error %}{{ error.messageKey|trans(error.messageData, 'security') }}{% endif %}</span>

					<br>
				
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Se Connecter
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	<script src="{{ asset('LOGIN/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ asset('LOGIN/vendor/animsition/js/animsition.min.js') }}"></script>
	<script src="{{ asset('LOGIN/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('LOGIN/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('LOGIN/vendor/select2/select2.min.js') }}"></script>
	<script src="{{ asset('LOGIN/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ asset('LOGIN/vendor/daterangepicker/daterangepicker.js') }}"></script>
	<script src="{{ asset('LOGIN/vendor/countdowntime/countdowntime.js') }}"></script>
	<script src="{{ asset('LOGIN/js/main.js') }}"></script>
	</body>
</html>