<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>RIBEGROUPE > Connexion</title>
		<link href="{{ asset("main.css") }}" rel="stylesheet"></head>
	<body>
		<div class="app-container app-theme-white body-tabs-shadow">
			<div class="app-container">
				<div class="h-100 bg-plum-plate bg-animation">
					<div class="d-flex h-100 justify-content-center align-items-center">
						<div class="mx-auto app-login-box col-md-8">
							<div class="app-logo-inverse mx-auto mb-3"></div>
							<div class="modal-dialog w-100 mx-auto">
								<div class="modal-content">
									<div class="modal-body">
										<div class="h5 modal-title text-center">
											<h4 class="mt-2">
												<div>Outils_RibeGroupe</div>
												<span>Connexion</span>
											</h4>
										</div>
										<form method="post">
											{% if error %}
												<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
											{% endif %}

											{% if app.user %}
												<div class="mb-3">
													Vous êtes déjà connecté avec : {{ app.user.username }},
													<a href="{{ path('app_logout') }}">Se Déconnecter</a>
												</div>
											{% endif %}

											<div class="form-row">
												<div class="col-md-12">
													<label for="inputUsername">Signature 2B</label>
													<div class="position-relative form-group">
														<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
													</div>
												</div>
												<div class="col-md-12">
													<label for="inputPassword">Mot de Passe 2B</label>
													<div class="position-relative form-group">
														<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
													</div>
												</div>
											</div>
											<div class="checkbox mb-3">
												<label>
													<input type="checkbox" name="_remember_me">
													Se souvenir de moi
												</label>
											</div>

											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

											<button class="mt-2 btn-ribeprim" style="width: 100%" type="submit">Se Connecter</button>
										</form>
										<div class="divider"></div>
									</div>
								</div>
							</div>
							<div class="text-center text-white opacity-8 mt-3">Copyright © RIBEGROUPE 2022</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{ asset("main.css") }}"></script>
	</body>
</html>