{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block page %}
	Liste des Utilisateurs
{% endblock %}

{% block actionsPage %}
	<div class="d-inline-block dropdown">
		<button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-business-time fa-w-20"></i>
			</span>
			Ajouter un Utilisateur
		</button>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="card-title">Utilisateurs du Réseau Ribé</h5>
					<table class="mb-0 table table-striped">
						<thead>
							<tr>
								<th>Société</th>
								<th>Prénom</th>
								<th>Nom</th>
								<th>Utilisateur</th>
								<th>Adresse Mail</th>
								<th>Fiche Client</th>
								<th>Fiche Article</th>
								<th>Fiche Fournisseur</th>
								<th>Administrateur</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr style="background-color: {{ user.company.colorCode }}; color: {{ user.company.colorText }};">
									<th scope="row">{{ user.company.name }}</th>
									<td>{{ user.firstName }}</td>
									<td>{{ user.lastName }}</td>
									<td>{{ user.username }}</td>
									<td>{{ user.email }}</td>
									<td>{% if user.accessFC == 0 %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "FC", "on" : "1"}) }}" class="btn mr-2 mb-2 btn-admin-NON">Ajouter l'Accès</a>{% else %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "FC", "on" : "0"}) }}" class="btn mr-2 mb-2 btn-admin-OUI">Enlever l'Accès</a>{% endif %}</td>
									<td>{% if user.accessFA == 0 %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "FA", "on" : "1"}) }}" class="btn mr-2 mb-2 btn-admin-NON">Ajouter l'Accès</a>{% else %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "FA", "on" : "0"}) }}" class="btn mr-2 mb-2 btn-admin-OUI">Enlever l'Accès</a>{% endif %}</td>
									<td>{% if user.accessFF == 0 %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "FF", "on" : "1"}) }}" class="btn mr-2 mb-2 btn-admin-NON">Ajouter l'Accès</a>{% else %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "FF", "on" : "0"}) }}" class="btn mr-2 mb-2 btn-admin-OUI">Enlever l'Accès</a>{% endif %}</td>
									<td>{% if user.accessADM == 0 %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "ADM", "on" : "1"}) }}" class="btn mr-2 mb-2 btn-admin-NON">Ajouter l'Accès</a>{% else %}<a href="{{ path("editAccessUser", {"id" : user.id, "access" : "ADM", "on" : "0"}) }}" class="btn mr-2 mb-2 btn-admin-OUI">Enlever l'Accès</a>{% endif %}</td>
									<td>
									TEST
{# 										<button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target=".modal_{{ company.id }}">MODIFER</button>
 #}									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{# 
{% block autres %}

	{{ render(controller('App\\Controller\\CompaniesController::companyEdit', { 'companies': companies })) }}

	<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Ajout d'une Société</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> {{ form_start(form) }}
				<div class="modal-body">
					<label for="nom">Nom de la Société</label> {{ form_widget(form.name) }}
					<label for="dossierCommun">Dossier Commun</label> 
					<label for="codeCouleur">Code Couleur</label> {{ form_widget(form.colorCode) }}
					<label for="baseDeDonnees">Nom de la Base de Données</label> {{ form_widget(form.databaseName) }}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button> {{ form_widget(form.add) }}
				</div> {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

 #}