{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fiche Article{% endblock %}

{% block page %}
	Nouvelle Fiche Article
{% endblock %}

{% block actionsPage %}
	<form method="POST" enctype="multipart/form-data">

	{% if client.etapeFiche == "LOGISTIQUE" or client.etapeFiche == "DIRECTEUR" or client.etapeFiche == "COMPTA" %}
	<div class="d-inline-block dropdown">
		<button type="button" class="btn mr-2 mb-2 btn-danger" data-toggle="modal" data-target="#exampleModal">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-eraser fa-w-20"></i>
			</span>
			Refuser la fiche
		</button>
	</div>
	{% endif %}

	{% if client.etapeFiche == "BROUILLON" %}
    <div class="d-inline-block dropdown">
		<a type="button" class="btn mr-2 mb-2 btn-danger"  href="{{ path("deleteFicheClient", {"id" : client.id}) }}">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-eraser fa-w-20"></i>
			</span>
			Supprimer la fiche
		</a>
	</div>

    <div class="d-inline-block dropdown">
		<button type="submit" class="btn mr-2 mb-2 btn-warning" name="BROUILLON">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-edit fa-w-20"></i>
			</span>
			Enregistrer en brouillon
		</button>
	</div>
	{% endif %}

	<div class="d-inline-block dropdown">
		<button type="submit" class="btn mr-2 mb-2 btn-success" name="VALID">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-check-square fa-w-20"></i>
			</span>
			Envoyer la fiche en validation
		</button>
	</div>
{% endblock %}

{% block body %}
<script type="text/javascript" 
           src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
function geoApiCpVilleLivraison() {
    let requestURL = 'https://geo.api.gouv.fr/communes?codePostal=' + document.getElementById("adrLivCodePostal").value +'&fields=nom,code,codesPostaux,codeDepartement,codeRegion,population&format=json&geometry=centre';
    let request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
    const ville = request.response;

    var select = document.getElementById("adrLivVille");
    var opts = select.getElementsByTagName('option');
    for (var i = 0; i < opts.length; i++) {
        select.removeChild(opts[i]);
    }

    var options = '';
    for (let i = 0; i < ville.length; i++) {
        console.log(ville[i].nom);
        options += '<option value="'+ville[i].nom+'" />';
        document.getElementById('adrLivVille').innerHTML = options;
    }
    }
}

function geoApiCpVilleFacture() {
    let requestURL = 'https://geo.api.gouv.fr/communes?codePostal=' + document.getElementById("adrFacCodePostal").value +'&fields=nom,code,codesPostaux,codeDepartement,codeRegion,population&format=json&geometry=centre';
    let request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
    const ville = request.response;

    var select = document.getElementById("adrFacVille");
    var opts = select.getElementsByTagName('option');
    for (var i = 0; i < opts.length; i++) {
        select.removeChild(opts[i]);
    }

    var options = '';
    for (let i = 0; i < ville.length; i++) {
        console.log(ville[i].nom);
        options += '<option value="'+ville[i].nom+'" />';
        document.getElementById('adrFacVille').innerHTML = options;
    }
    }
}
	function validCoorGPS(){

    let requestURL = 'https://api-adresse.data.gouv.fr/reverse/?lon=' + document.getElementById("long").value + '&lat=' + document.getElementById("lat").value + '&type=housenumber';
    //let requestURL = 'https://api-adresse.data.gouv.fr/reverse/?lon=2.875667&lat=49.474364&type=housenumber';
	let request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
    const ville = request.response;
		var select = document.getElementById("textGPS");
 		var options = '';
        options += '<table class="mb-0 table table-striped"><thead><tr><th>Adresse</th><th>Code Postal</th><th>Ville</th><tr></thead><tbody><tr><td>' + ville.features[0].properties.housenumber + ' ' + ville.features[0].properties.street + '</td><td>' + ville.features[0].properties.postcode + '</td><td>' + ville.features[0].properties.city + '</td></tr></tbody></table>';
        document.getElementById('textGPS').innerHTML = options;
    
}


		var select = document.getElementById("GPS_Display");
 		var options = '';
        options += '<iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=' + document.getElementById("lat").value + ',' + document.getElementById("long").value + '&amp;key=AIzaSyAVnZiratT6_nsfEO_RYBNnsrgd-onQfMY"></iframe>';
        document.getElementById('GPS_Display').innerHTML = options;

	}
</script>

	<div class="tab-content">
		<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
			<div class="main-card mb-3 card">
				<div class="card-body">
						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}; padding: 5px;">
									<h5 style="text-align: center">EN-TÊTE FICHE CLIENT</h5>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label>Date de la Demande</label><input class='form-control' type="date" name="date" value="{{ client.date|date('Y-m-d') }}" disabled="disabled" />
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label>Code Client</label><input class='form-control' type="text" name="codeClient" value="{{ client.codeClient }}"/>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label>Ouverture Demandée Par</label><input class='form-control' type="text" name="ouvertureDemandee" value="{{ client.username.firstName }} {{ client.username.lastName }} / {{ client.username.username }}" disabled="disabled" />
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label>Ancien Code Client</label><input class='form-control' type="text" name="ancienCodeClient" value="{{ client.ancienCodeClient }}"/>
								</div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group">
									<label>Compte Frère (Indiquer si besoin de rattacher ce client à un autre compte, ex : 4G / Maree / BOF)</label><textarea class='form-control' row="3" type="text" name="compteFrere">{{ client.compteFrere }}</textarea>
								</div>
							</div>
						</div>

						<hr>
						
						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}; padding: 5px;">
									<h5 style="text-align: center">PARTIE A RENSEIGNER PAR LE COMMERCIAL</h5>
								</div>
							</div>
						</div>

						{% if app.user.company.name == "ARDENNES PRIMEURS" %}
							<div class="form-row">
								<div class="col-md-12">
									<div class="position-relative form-group">
										<label>Société</label>
										<select name="company" class="form-control">
											<option value="{{ client.company.name }}">{{ client.company.name }}</option>
											<option value="ARDENNES PRIMEURS">ARDENNES PRIMEURS</option>
											<option value="RIVOALLON">RIVOALLON</option>
										</select>
									</div>
								</div>
							</div>
						{% else %}
							<input type="hidden" name="company" value="{{ client.company.name }}"/>
						{% endif %}

						{% if app.user.company.name == "SIDELIS" or app.user.company.name == "BIO E'MOI" or app.user.company.name == "PROMER OCEAN" %}
							<div class="form-row">
								<div class="col-md-12">
									<div class="position-relative form-group">
										<label>Choix de la Société qui va livrer</label>
										<select name="companyTransport" class="form-control">
											<option value="{{ client.companyTransport }}">{{ client.companyTransport }}</option>
											{% for company in companies %}
												<option value="{{ company.name }}">{{ company.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
						{% else %}
							<input type="hidden" name="companyTransport" value="{{ app.user.company.name }}"/>
						{% endif %}

						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label>Compte à Créer</label>
								</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="fl">Fruits et Légumes</label><input name="fl" type="checkbox" class="form-control" {% if client.cpFl == 1 %}checked{% endif %}>
									</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="gamme">4 / 5 Gamme</label><input name="gamme" type="checkbox" class="form-control" {% if client.cp45g == 1 %}checked{% endif %}></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="maree">Marée</label><input name="maree" type="checkbox" class="form-control" {% if client.cpMaree == 1 %}checked{% endif %}></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="bof">BOF / Charcuterie / Volaille</label><input name="bof" type="checkbox" class="form-control" {% if client.cpBof == 1 %}checked{% endif %}></div>
								</div>
						</div>


						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="nomAppel">Nom d'Appel</label><input name="nomAppel" type="text" class="form-control" maxlength="250" value="{{ client.nomAppel }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="phoneStandard">Téléphone Standard</label><input name="phoneStandard" type="tel" class="form-control" maxlength="20" value="{{ client.phoneStandard }}"></div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="phoneStandardTel">Type Télévente</label>
									<input name="phoneStandardTel" type="checkbox" class="form-control" {% if client.phoneStandardTel == 1 %}checked{% endif %}>
								</div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="codeGestion">Code Gestion</label><input name="codeGestion" type="text" class="form-control" maxlength="250" value="{{ client.codeGestion }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="phonePortable">Téléphone Portable</label><input name="phonePortable" type="tel" class="form-control" maxlength="20" value="{{ client.phonePortable }}"></div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="phonePortableTel">Type Télévente</label>
									<input name="phonePortableTel" type="checkbox" class="form-control" {% if client.phonePortableTel == 1 %}checked{% endif %}>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="raisonSociale">Raison Sociale</label><input name="raisonSociale" type="text" class="form-control" maxlength="250" value="{{ client.raisonSocial }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="faxStandard">Fax Standard</label><input name="faxStandard" type="tel" class="form-control" maxlength="20" value="{{ client.faxStandard }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="nomGrandCompte">Nom Grand Compte</label><input name="nomGrandCompte" type="text" class="form-control" maxlength="250" value="{{ client.nomGrandCompte }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="emailStandard">Email Standard</label><input name="emailStandard" type="mail" class="form-control" maxlength="250" value="{{ client.emailStandard }}"></div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="adrLivraison">Adresse Livraison</label><input name="adrLivraison" type="text" class="form-control" maxlength="250" value="{{ client.adrLivraison }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="appelClient">Client à Appeler</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="appelClient" value="1" {% if client.appelClient == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="appelClient" value="0" {% if client.appelClient == 0 %}checked{% endif %}>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="adrLivCodePostal">Code Postal</label><input id="adrLivCodePostal" name="adrLivCodePostal" type="text" class="form-control" maxlength="10" onkeyup="geoApiCpVilleLivraison()" value="{{ client.adrLivCodePostal }}"></div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="adrLivVille">Ville</label><input name="adrLivVille" list="adrLivVille" type="text" class="form-control" maxlength="250" value="{{ client.adrLivVille }}">
									<datalist id="adrLivVille"></datalist>
									</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelLundi">Lundi</label>
									<input name="appelLundi" type="checkbox" class="form-control" {% if client.appelLundi == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireLundi">Horaire Lundi</label><input name="horaireLundi" type="text" class="form-control" value="{{ client.horaireLundi }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="siret">N° SIRET</label><input name="siret" type="text" class="form-control" value="{{ client.siret }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelMardi">Mardi</label>
									<input name="appelMardi" type="checkbox" class="form-control" {% if client.appelMardi == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireMardi">Horaire Mardi</label><input name="horaireMardi" type="text" class="form-control" value="{{ client.horaireMardi }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="tva">N° TVA Intracommunautaire</label><input name="tva" type="text" class="form-control" value="{{ client.tva }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelMercredi">Mercredi</label>
									<input name="appelMercredi" type="checkbox" class="form-control" {% if client.appelMercredi == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireMercredi">Horaire Mercredi</label><input name="horaireMercredi" type="text" class="form-control" value="{{ client.horaireMercredi }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="typeClient">Type Client <i style="font-weight : normal;">(Si client public = chorus, compléter impérativement les champs suivants: N° Siret, N° Engagement et Code Service)</i></label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="public">Public</label>
									<input class="form-control" type="radio" id="public" name="typeClient" value="1" {% if client.typeClient == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="prive">Privé</label>
									<input class="form-control" type="radio" id="prive" name="typeClient" value="0" {% if client.typeClient == 0 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelJeudi">Jeudi</label>
									<input name="appelJeudi" type="checkbox" class="form-control" {% if client.appelJeudi == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireJeudi">Horaire Jeudi</label><input name="horaireJeudi" type="text" class="form-control" value="{{ client.horaireJeudi }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="engagement">N° Engagement</label><input name="engagement" type="text" class="form-control" value="{{ client.engagement }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelVendredi">Vendredi</label>
									<input name="appelVendredi" type="checkbox" class="form-control" {% if client.appelVendredi == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireVendredi">Horaire Vendredi</label><input name="horaireVendredi" type="text" class="form-control" value="{{ client.horaireVendredi }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="codeService">Code Service</label><input name="codeService" type="text" class="form-control" value="{{ client.codeService }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelSamedi">Samedi</label>
									<input name="appelSamedi" type="checkbox" class="form-control" {% if client.appelSamedi == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireSamedi">Horaire Samedi</label><input name="horaireSamedi" type="text" class="form-control" value="{{ client.horaireSamedi }}"></div>
							</div>
						</div>						

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="adrFacture">Adresse pour Envoi Factures (si différente d'Adresse Livraison)</label><input name="adrFacture" type="text" class="form-control" value="{{ client.adrFacture }}"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="emailFacture">Email Envoi Facture</label><input name="emailFacture" type="mail" class="form-control" value="{{ client.emailFacture }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="adrFacCodePostal">Code Postal</label><input id="adrFacCodePostal" name="adrFacCodePostal" type="text" class="form-control" maxlength="10" onkeyup="geoApiCpVilleFacture()" value="{{ client.adrFacCodePostal }}"></div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="adrFacVille">Ville</label><input name="adrFacVille" list="adrFacVille" type="text" class="form-control" maxlength="250" value="{{ client.adrFacVille }}">
									<datalist id="adrFacVille"></datalist>
									</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="tarifClient">Tarif Client</label><input name="tarifClient" type="text" class="form-control" value="{{ client.tarifClient }}"></div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1">AFFTYPO CHAMPS STAT 1</label>
									<select class="form-control" name="stat1">
										<option value="{{ client.stat1 }}">{{ stat1Code.Libelle_STAT1 }}</option>
										<option value=""></option>
										{% for stat in stats1 %}
											<option value="{{ stat.Code_STAT1 }}">{{ stat.Libelle_STAT1 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="envoiTarifAuto">Envoi Tarif Automatique</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="envoiTarifAuto" value="1" {% if client.envoiTarifAuto == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="envoiTarifAuto" value="0" {% if client.envoiTarifAuto == 0 %}checked{% endif %}>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1">AFFCAT 2 CHAMPS STAT 2</label>
									<select class="form-control" name="stat2">
										<option value="{{ client.stat2 }}">{{ stat2Code.Libelle_STAT2 }}</option>
										<option value=""></option>
										{% for stat in stats2 %}
											<option value="{{ stat.Code_STAT2 }}">{{ stat.Libelle_STAT2 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="date1Livraison">Date 1ère Livraison</label><input name="date1Livraison" type="date" class="form-control" value="{{ client.date1Livraison|date('Y-m-d') }}" ></div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1">AFFCAT 3 CHAMPS STAT 3</label>
									<select class="form-control" name="stat3">
										<option value="{{ client.stat3 }}">{{ stat3Code.0 }}</option>
										<option value=""></option>
										{% for stat in stats3 %}
											<option value="{{ stat.Code_STAT3 }}">{{ stat.Libelle_STAT3 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="typeClient">PVC</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="pvc" value="1" {% if client.pvc == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="pvc" value="0" {% if client.pvc == 0 %}checked{% endif %}>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1">AFFCAT 1 CHAMPS STAT 4</label>
									<select class="form-control" name="stat4">
										<option value="{{ client.stat4 }}">{{ stat4Code.Libelle_STAT4 }}</option>
										<option value=""></option>
										{% for stat in stats4 %}
											<option value="{{ stat.Code_STAT4 }}">{{ stat.Libelle_STAT4 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="coefPVC">Coef PVC</label><input name="coefPVC" type="text" class="form-control" value="{{ client.coefPVC }}"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1">AFFCAT 4 CHAMPS STAT 5</label>
									<select class="form-control" name="stat5">
										<option value="{{ client.stat5 }}">{{ stat5Code.Libelle_STAT5 }}</option>
										<option value=""></option>
										{% for stat in stats5 %}
											<option value="{{ stat.Code_STAT5 }}">{{ stat.Libelle_STAT5 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label>Mode de Règlement / * Joindre Courrier Acceptation</label>
								</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regAvance">Avance</label><input name="regAvance" type="checkbox" class="form-control" {% if client.avance == 1 %}checked{% endif %}>
									</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regChequeBancaire">Chèque Bancaire</label><input name="regChequeBancaire" type="checkbox" class="form-control" {% if client.cheque == 1 %}checked{% endif %}></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regVirement">Virement</label><input name="regVirement" type="checkbox" class="form-control" {% if client.virement == 1 %}checked{% endif %}></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regPrelevement">* Prélèvement</label><input name="regPrelevement" type="checkbox" class="form-control" {% if client.prelevement == 1 %}checked{% endif %}></div>
								</div>
						</div>

						<div class="form-row" style="text-align: center">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Choix Documents</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>KBIS</label>
									<input class="form-control-file" type="file" name="ext_kbis" id="ext_kbis"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>CGV</label>
									<input class="form-control-file" type="file" name="ext_cgv"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Autorisation Prélèvement</label>
									<input class="form-control-file" type="file" name="ext_auth"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>RIB</label>
									<input class="form-control-file" type="file" name="ext_rib"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Autres Documents</label>
									<input class="form-control-file" type="file" name="ext_autres"/>
								</div>
							</div>
						</div>

						<div class="form-row" style="text-align: center">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Voir les Documents</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									{% if client.extKbis != "" %}
										<a class="btn mr-2 mb-2 btn-success" type="button" href="{{ asset('/Documents/FicheClient/' ~ client.id ~ '/KBIS.' ~ client.extKbis) }}" target="_blank">Voir le Documents</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									{% if client.extCgv != "" %}
										<a class="btn mr-2 mb-2 btn-success" type="button" href="{{ asset('/Documents/FicheClient/' ~ client.id ~ '/CGV.' ~ client.extCgv) }}" target="_blank">Voir le Documents</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									{% if client.extAuth != "" %}
										<a class="btn mr-2 mb-2 btn-success" type="button" href="{{ asset('/Documents/FicheClient/' ~ client.id ~ '/AUTH_PREV.' ~ client.extAuth) }}" target="_blank">Voir le Documents</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									{% if client.extRib != "" %}
										<a class="btn mr-2 mb-2 btn-success" type="button" href="{{ asset('/Documents/FicheClient/' ~ client.id ~ '/RIB.' ~ client.extRib) }}" target="_blank">Voir le Documents</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									{% if client.extAutres != "" %}
										<a class="btn mr-2 mb-2 btn-success" type="button" href="{{ asset('/Documents/FicheClient/' ~ client.id ~ '/AUTRES.' ~ client.extAutres) }}" target="_blank">Voir le Documents</a>
									{% endif %}
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}; padding: 5px;">
									<h5 style="text-align: center">Contacts</h5>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Dirigeant</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctDirNom">Nom</label><input name="ctDirNom" type="text" class="form-control" value="{{ client.ctDirNom }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctDirTel">Téléphone</label><input name="ctDirTel" type="tel" class="form-control" value="{{ client.ctDirTel }}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctDirMail">Adresse Mail</label><input name="ctDirMail" type="mail" class="form-control" value="{{ client.ctDirMail }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Compta Règlement</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComptaNom">Nom</label><input name="ctComptaNom" type="text" class="form-control" value="{{ client.ctComptaNom }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComptaTel">Téléphone</label><input name="ctComptaTel" type="tel" class="form-control" value="{{ client.ctComptaTel }}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComptaMail">Adresse Mail</label><input name="ctComptaMail" type="mail" class="form-control" value="{{ client.ctComptaMail }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Responsable Commandes</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComNom">Nom</label><input name="ctComNom" type="text" class="form-control" value="{{ client.ctComNom }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComTel">Téléphone</label><input name="ctComTel" type="tel" class="form-control" value="{{ client.ctComTel }}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComMail">Adresse Mail</label><input name="ctComMail" type="mail" class="form-control" value="{{ client.ctComMail }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Responsable Qualité</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctQuaNom">Nom</label><input name="ctQuaNom" type="text" class="form-control" value="{{ client.ctQuaNom }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctQuaTel">Téléphone</label><input name="ctQuaTel" type="tel" class="form-control" value="{{ client.ctQuaTel }}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctQuaMail">Adresse Mail</label><input name="ctQuaMail" type="mail" class="form-control" value="{{ client.ctQuaMail }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Chef de Secteur</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctSecNom">Nom</label><input name="ctSecNom" type="text" class="form-control" value="{{ client.ctSecNom }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctSecTel">Téléphone</label><input name="ctSecTel" type="tel" class="form-control" value="{{ client.ctSecTel }}">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctSecMail">Adresse Mail</label><input name="ctSecMail" type="mail" class="form-control" value="{{ client.ctSecMail }}">
								</div>
							</div>
						</div>

						<hr>
						
						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}; padding: 5px;">
									<h5 style="text-align: center">PARTIE A VALIDER ET COMPLETER PAR LA LOGISTIQUE</h5>
								</div>
							</div>
						</div>

						<div class="form-row" style="text-align: center">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trLundi">Tournée LUNDI</label>
									<select class="form-control" name="trLundi">
										<option value="{{ client.trLundi }}">{{ trLundiCode.0 }}</option>
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trMardi">Tournée MARDI</label>
									<select class="form-control" name="trMardi">
										<option value="{{ client.trMardi }}">{{ trMardiCode.0 }}</option>
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trMercredi">Tournée MERCREDI</label>
									<select class="form-control" name="trMercredi">
										<option value="{{ client.trMercredi }}">{{ trMercrediCode.0 }}</option>
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trJeudi">Tournée JEUDI</label>
									<select class="form-control" name="trJeudi">
										<option value="{{ client.trJeudi }}">{{ trJeudiCode.0 }}</option>
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trVendredi">Tournée VENDREDI</label>
									<select class="form-control" name="trVendredi">
										<option value="{{ client.trVendredi }}">{{ trVendrediCode.0 }}</option>
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trSamedi">Tournée SAMEDI</label>
									<select class="form-control" name="trSamedi">
										<option value="{{ client.trSamedi }}">{{ trSamediCode.0 }}</option>
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="form-row" style="text-align: center">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgLundi">Rang LUNDI</label>
									<input name="rgLundi" type="text" class="form-control" value="{{ client.rgLundi }}"></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgMardi">Rang MARDI</label>
									<input name="rgMardi" type="text" class="form-control" value="{{ client.rgMardi }}"></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgMercredi">Rang MERCREDI</label>
									<input name="rgMercredi" type="text" class="form-control" value="{{ client.rgMercredi }}"></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgJeudi">Rang JEUDI</label>
									<input name="rgJeudi" type="text" class="form-control" value="{{ client.rgJeudi }}"></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgVendredi">Rang VENDREDI</label>
									<input name="rgVendredi" type="text" class="form-control" value="{{ client.rgVendredi }}"></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgSamedi">Rang SAMEDI</label>
									<input name="rgSamedi" type="text" class="form-control" value="{{ client.rgSamedi }}"></div>
								</div>
						</div>

						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group">
									<label for="plageHoraire">Plage Horaire qu'Accepte le Client</label><input name="plageHoraire" type="text" class="form-control" value="{{ client.plageHoraire }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Coordonnées GPS Livraison</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group" style="text-align: center">
									<label for="latitude">Latitude</label><input id="lat" name="latitude" type="text" class="form-control" value="{{ client.latitude }}">
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group" style="text-align: center">
									<label for="longitude">Longitude</label><input id="long" name="longitude" type="text" class="form-control" value="{{ client.longitude }}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="validGPS">Coordonées sur Google Maps</label>
									<button type="button" class="btn mr-2 mb-2 btn-success form-control"  data-toggle="modal" data-target=".bd-example-modal-lg" name="validGPS"  onclick="validCoorGPS()">Visualiser les Coordonnées GPS</button>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group">
									<label for="bp">Texte sur Bon de Préparation</label><input name="bp" type="text" class="form-control" value="{{ client.bp }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group">
									<label for="bl">Texte sur Bon de Livraison</label><input name="bl" type="text" class="form-control" value="{{ client.bl }}">
								</div>
							</div>
						</div>

						<hr>
						
						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}; padding: 5px;">
									<h5 style="text-align: center">PARTIE A VALIDER ET COMPLETER PAR LA DIRECTION DU SITE</h5>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="dirCom">Attribution DIRECTION COMMERCIAL</label><input name="dirCom" type="text" class="form-control" value="{{ client.dirCom }}">
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-6" style="text-align: center">
								<div class="position-relative form-group">
									<label>Service Associés</label>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="comMaitre">Attribution COMMERCIAL MAITRE</label>
									<select class="form-control" name="comMaitre">
										<option value="{{ client.comMaitre }}">{{ comMaitreCode.COMMERCIAL }}</option>
										<option value=""></option>
										{% for dirCom in commercials %}
											<option value="{{ dirCom.saljare }}">{{ dirCom.COMMERCIAL }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="taux1">Taux 1</label><input name="taux1" type="text" class="form-control" value="{{ client.taux1 }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="nature1">Nature 1</label><input name="nature1" type="text" class="form-control" value="{{ client.nature1 }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="com">Attribution COMMERCIAL</label>
									<select class="form-control" name="com">
										<option value="{{ client.com }}">{{ comCode.COMMERCIAL }}</option>
										<option value=""></option>
										{% for dirCom in commercials %}
											<option value="{{ dirCom.saljare }}">{{ dirCom.COMMERCIAL }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="taux2">Taux 2</label><input name="taux2" type="text" class="form-control" value="{{ client.taux2 }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="nature2">Nature 2</label><input name="nature2" type="text" class="form-control" value="{{ client.nature2 }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="tel">Attribution TELEVENTE</label>
									<select class="form-control" name="tel">
										<option value="{{ client.tel }}">{{ telCode.TELEVENDEUR }}</option>
										<option value=""></option>
										{% for tel in televendeurs %}
											<option value="{{ tel.perssign1 }}">{{ tel.TELEVENDEUR }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="taux3">Taux 3</label><input name="taux3" type="text" class="form-control" value="{{ client.taux3 }}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="nature3">Nature 3</label><input name="nature3" type="text" class="form-control" value="{{ client.nature3 }}">
								</div>
							</div>
						</div>

						<hr>
						
						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}; padding: 5px;">
									<h5 style="text-align: center">PARTIE A VALIDER ET COMPLETER PAR LA COMPTABILITE</h5>
								</div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Minimum de Livraison</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="limiteFrais">Limite Frais</label><input name="limiteFrais" type="text" class="form-control" value="{{ client.limiteFrais }}">
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="montantFrais">Montant Frais</label><input name="montantFrais" type="text" class="form-control" value="{{ client.montantFrais }}">
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="delaisReg">Délais de Règlement</label><input name="delaisReg" type="text" class="form-control" value="{{ client.delaisReg }}">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="fraisDev">Frais de Développement Durable</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
  									<label for="090">0,90 €</label>
									<input class="form-control" type="radio" id="090" name="fraisDev" value="1"{% if client.fraisDev == 0 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
  									<label for="150">1,50 €</label>
									<input class="form-control" type="radio" id="150" name="fraisDev" value="0" {% if client.fraisDev == 0 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="blocCompte">Blocage Compte</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="blocCompte" value="1"{% if client.blocCompte == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="blocCompte" value="0" {% if client.blocCompte == 0 %}checked{% endif %}>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block autres %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="validGPS" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validGPS">Visualisation Coordonnées GPS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<div class="modal-body" id="textGPS">
            </div>
            <div class="modal-body">
				<h6>Attention ne pas ce fier à l'adresse affiché sur la carte mais l'adresse dans le tableau ci-dessus.</h6>
		    </div>
            <div class="modal-body" id="GPS_Display">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer la Fenêtre</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Raison du Refus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="5" name="textRefus" placeholder="L'adresse est manquante / il manque les coordonnées GPS"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler le Refus</button>
                <button type="submit" class="btn btn-success" name="REFUS">Envoyer le Refus</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}