{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fiche Article{% endblock %}

{% block page %}
	Nouvelle Fiche Article
{% endblock %}

{% block actionsPage %}
	<form method="POST">

    <div class="d-inline-block dropdown">
		<a type="button" class="btn mr-2 mb-2 btn-danger" href="{{ path("newFicheArticle") }}">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-eraser fa-w-20"></i>
			</span>
			Remettre à zéro la fiche
		</a>
	</div>

    <div class="d-inline-block dropdown">
		<button type="submit" class="btn mr-2 mb-2 btn-warning" name="BROUILLON">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-edit fa-w-20"></i>
			</span>
			Enregistrer en brouillon
		</button>
	</div>

	<div class="d-inline-block dropdown">
		<button type="submit" class="btn mr-2 mb-2 btn-success" name="VALID">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-check-square fa-w-20"></i>
			</span>
			Envoyer la fiche en validation
		</button>
	</div>
{% endblock %}

{% block body %}
<script type="text/javascript" 
           src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
function clickEvent() {
    let requestURL = 'https://geo.api.gouv.fr/communes?codePostal=' + document.getElementById("codePostal").value +'&fields=nom,code,codesPostaux,codeDepartement,codeRegion,population&format=json&geometry=centre';
    let request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
    const ville = request.response;

    var select = document.getElementById("ville");
    var opts = select.getElementsByTagName('option');
    for (var i = 0; i < opts.length; i++) {
        select.removeChild(opts[i]);
    }

    var options = '';
    for (let i = 0; i < ville.length; i++) {
        console.log(ville[i].nom);
        options += '<option value="'+ville[i].nom+'" />';
        document.getElementById('ville').innerHTML = options;
    }
    }
}

function clickEventLiv() {
    let requestURL = 'https://geo.api.gouv.fr/communes?codePostal=' + document.getElementById("codePostalLiv").value +'&fields=nom,code,codesPostaux,codeDepartement,codeRegion,population&format=json&geometry=centre';
    let request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
    const ville = request.response;

    var select = document.getElementById("villeLiv");
    var opts = select.getElementsByTagName('option');
    for (var i = 0; i < opts.length; i++) {
        select.removeChild(opts[i]);
    }

    var options = '';
    for (let i = 0; i < ville.length; i++) {
        console.log(ville[i].nom);
        options += '<option value="'+ville[i].nom+'" />';
        document.getElementById('villeLiv').innerHTML = options;
    }
    }
}
	function validCoorGPS(){

    let requestURL = 'https://api-adresse.data.gouv.fr/reverse/?lon=' + document.getElementById("long").value + '&lat=' + document.getElementById("lat").value + '&type=housenumber';
    //let requestURL = 'https://api-adresse.data.gouv.fr/reverse/?lon=2.875667&lat=49.474364&type=housenumber';
	let request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();
    request.onload = function() {
    const ville = request.response;
		var select = document.getElementById("textGPS");
 		var options = '';
        options += '<table class="mb-0 table table-striped"><thead><tr><th>Adresse</th><th>Code Postal</th><th>Ville</th><tr></thead><tbody><tr><td>' + ville.features[0].properties.housenumber + ' ' + ville.features[0].properties.street + '</td><td>' + ville.features[0].properties.postcode + '</td><td>' + ville.features[0].properties.city + '</td></tr></tbody></table>';
        document.getElementById('textGPS').innerHTML = options;
    
}


		var select = document.getElementById("GPS_Display");
 		var options = '';
        options += '<iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=' + document.getElementById("lat").value + ',' + document.getElementById("long").value + '&amp;key=AIzaSyAVnZiratT6_nsfEO_RYBNnsrgd-onQfMY"></iframe>';
        document.getElementById('GPS_Display').innerHTML = options;

	}
</script>

	<div class="tab-content">
		<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
			<div class="main-card mb-3 card">
				<div class="card-body">
						<h5 class="card-title">Information Client</h5>

						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label>Compte à Créer</label>
								</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="fl" class="">Fruits et Légumes</label><input name="fl" type="checkbox" class="form-control" >
									</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="45g" class="">4 / 5 Gamme</label><input name="45g" type="checkbox" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="maree" class="">Marée</label><input name="maree" type="checkbox" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="sidelis" class="">BOF / Charcuterie / Volaille</label><input name="sidelis" type="checkbox" class="form-control" ></div>
								</div>
						</div>


						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="nomAppel" class="">Nom d'Appel</label><input name="nomAppel" type="text" class="form-control" maxlength="250"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="phoneStandard" class="">Téléphone Standard</label><input name="phoneStandard" type="text" class="form-control" maxlength="20"></div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="phoneStandardTel" class="">Type Télévente</label>
									<input name="phoneStandardTel" type="checkbox" class="form-control">
								</div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="codeGestion" class="">Code Gestion</label><input name="codeGestion" type="text" class="form-control" maxlength="250"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="phonePortable" class="">Téléphone Portable</label><input name="phonePortable" type="text" class="form-control" maxlength="20"></div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="phonePortableTel" class="">Type Télévente</label>
									<input name="phonePortableTel" type="checkbox" class="form-control">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="raisonSociale" class="">Raison Sociale</label><input name="raisonSociale" type="text" class="form-control" maxlength="250"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="faxStandard" class="">Téléphone Portable</label><input name="faxStandard" type="text" class="form-control" maxlength="20"></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="nomGrandCompte" class="">Nom Grand Compte</label><input name="nomGrandCompte" type="text" class="form-control" maxlength="250"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="emailStandard" class="">Email Standard</label><input name="emailStandard" type="mail" class="form-control" maxlength="250"></div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="adrLivraison" class="">Adresse Livraison</label><input name="adrLivraison" type="text" class="form-control" maxlength="250"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="appelClient" class="">Client à Appeler</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="appelClient" value="1" checked>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="appelClient" value="0">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="codePostal" class="">Code Postal</label><input id="codePostal" name="codePostal" type="text" class="form-control" maxlength="10" onkeyup="clickEvent()"></div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="ville" class="">Ville</label><input name="ville" list="ville" type="text" class="form-control" maxlength="250">
									<datalist id="ville"></datalist>
									</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelLundi" class="">Lundi</label>
									<input name="appelLundi" type="checkbox" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireLundi" class="">Horaire Lundi</label><input name="horaireLundi" type="text" class="form-control" ></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="siret" class="">N° SIRET</label><input name="siret" type="text" class="form-control" ></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelMardi" class="">Mardi</label>
									<input name="appelMardi" type="checkbox" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireMardi" class="">Horaire Mardi</label><input name="horaireMardi" type="text" class="form-control" ></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="tvaIntra" class="">N° TVA Intracommunautaire</label><input name="tvaIntra" type="text" class="form-control" ></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelMercredi" class="">Mercredi</label>
									<input name="appelMercredi" type="checkbox" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireMercredi" class="">Horaire Mercredi</label><input name="horaireMercredi" type="text" class="form-control" ></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="typeClient" class="">Type Client <i style="font-weight : normal;">(Si client public = chorus, compléter impérativement les champs suivants: N° Siret, N° Engagement et Code Service)</i></label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="public">Public</label>
									<input class="form-control" type="radio" id="public" name="typeClient" value="public">
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="prive">Privé</label>
									<input class="form-control" type="radio" id="prive" name="typeClient" value="prive" checked>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelJeudi" class="">Jeudi</label>
									<input name="appelJeudi" type="checkbox" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireJeudi" class="">Horaire Jeudi</label><input name="horaireJeudi" type="text" class="form-control" ></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="engagement" class="">N° Engagement</label><input name="engagement" type="text" class="form-control" ></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelVendredi" class="">Vendredi</label>
									<input name="appelVendredi" type="checkbox" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireVendredi" class="">Horaire Vendredi</label><input name="horaireVendredi" type="text" class="form-control" ></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="codeService" class="">Code Service</label><input name="codeService" type="text" class="form-control"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label for="appelSamedi" class="">Samedi</label>
									<input name="appelSamedi" type="checkbox" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="horaireSamedi" class="">Horaire Samedi</label><input name="horaireSamedi" type="text" class="form-control" ></div>
							</div>
						</div>						

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="adrLiv" class="">Adresse pour Envoi Factures (si différente d'Adresse Livraison)</label><input name="adrLiv" type="text" class="form-control"></div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="emailFacture" class="">Email Envoi Facture</label><input name="emailFacture" type="text" class="form-control" ></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="codePostalLiv" class="">Code Postal</label><input id="codePostalLiv" name="codePostalLiv" type="text" class="form-control" maxlength="10" onkeyup="clickEventLiv()"></div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="villeLiv" class="">Ville</label><input name="villeLiv" list="villeLiv" type="text" class="form-control" maxlength="250">
									<datalist id="villeLiv"></datalist>
									</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="tarifClient" class="">Tarif Client</label><input name="tarifClient" type="text" class="form-control" ></div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1" class="">AFFTYPO CHAMPS STAT 1</label>
									<select class="form-control" name="stat1">
										<option value=""></option>
										{% for stat in stats1 %}
											<option value="{{ stat.Code_STAT1 }}">{{ stat.Libelle_STAT1 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="typeClient" class="">Envoi Tarif Automatique</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="envoiTarifAuto" value="1">
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="envoiTarifAuto" value="0" checked>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1" class="">AFFCAT 2 CHAMPS STAT 2</label>
									<select class="form-control" name="stat2">
										<option value=""></option>
										{% for stat in stats2 %}
											<option value="{{ stat.Code_STAT2 }}">{{ stat.Libelle_STAT2 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="date1Livraison" class="">Date 1ère Livraison</label><input name="date1Livraison" type="date" class="form-control" ></div>
							</div>
						</div>
						
						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1" class="">AFFCAT 3 CHAMPS STAT 3</label>
									<select class="form-control" name="stat3">
										<option value=""></option>
										{% for stat in stats3 %}
											<option value="{{ stat.Code_STAT3 }}">{{ stat.Libelle_STAT3 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="typeClient" class="">PVC</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="pvc" value="1">
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="pvc" value="0" checked>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1" class="">AFFCAT 1 CHAMPS STAT 4</label>
									<select class="form-control" name="stat4">
										<option value=""></option>
										{% for stat in stats4 %}
											<option value="{{ stat.Code_STAT4 }}">{{ stat.Libelle_STAT4 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="coefPVC" class="">Coef PVC</label><input name="coefPVC" type="text" class="form-control" ></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-5">
								<div class="position-relative form-group">
									<label for="stat1" class="">AFFCAT 4 CHAMPS STAT 5</label>
									<select class="form-control" name="stat5">
										<option value=""></option>
										{% for stat in stats5 %}
											<option value="{{ stat.Code_STAT5 }}">{{ stat.Libelle_STAT5 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label>Mode de Règlemence / * Joindre Courrier Acceptation</label>
								</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regAvance" class="">Avance</label><input name="regAvance" type="checkbox" class="form-control" >
									</div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regChequeBancaire" class="">Chèque Bancaire</label><input name="regChequeBancaire" type="checkbox" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regVirement" class="">Virement</label><input name="regVirement" type="checkbox" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="regPrelevement" class="">* Prélèvement</label><input name="regPrelevement" type="checkbox" class="form-control" ></div>
								</div>
						</div>

						<div class="form-row" style="text-align: center">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Choix Documents</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>KBIS</label>
									<input class="form-control-file" type="file"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>CGV</label>
									<input class="form-control-file" type="file"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Authorisation Prélèvement</label>
									<input class="form-control-file" type="file"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>RIB</label>
									<input class="form-control-file" type="file"/>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Autres Documents</label>
									<input class="form-control-file" type="file"/>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}">
									<h5 style="text-align: center">Contacts</h5>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Dirigeant</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctDirNom" class="">Nom</label><input name="ctDirNom" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctDirTel" class="">Téléphone</label><input name="ctDirTel" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctDirMail" class="">Adresse Mail</label><input name="ctDirMail" type="text" class="form-control" >
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Compta Règlement</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComptaNom" class="">Nom</label><input name="ctComptaNom" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComptaTel" class="">Téléphone</label><input name="ctComptaTel" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComptaMail" class="">Adresse Mail</label><input name="ctComptaMail" type="text" class="form-control" >
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Responsable Commandes</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComNom" class="">Nom</label><input name="ctComNom" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComTel" class="">Téléphone</label><input name="ctComTel" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctComMail" class="">Adresse Mail</label><input name="ctComMail" type="text" class="form-control" >
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Responsable Qualité</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctQuaNom" class="">Nom</label><input name="ctQuaNom" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctQuaTel" class="">Téléphone</label><input name="ctQuaTel" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctQuaMail" class="">Adresse Mail</label><input name="ctQuaMail" type="text" class="form-control" >
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-1">
								<div class="position-relative form-group">
									<label>Chef de Secteur</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctSecNom" class="">Nom</label><input name="ctSecNom" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctSecTel" class="">Téléphone</label><input name="ctSecTel" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group" style="text-align: center">
									<label for="ctSecMail" class="">Adresse Mail</label><input name="ctSecMail" type="text" class="form-control" >
								</div>
							</div>
						</div>

						<hr>
						
						<div class="form-row">
							<div class="col-md-12">
								<div class="position-relative form-group" style="background-color: {{ app.user.company.colorCode }}; color: {{ app.user.company.colorText }}">
									<h5 style="text-align: center">PARTIE A VALIDER PAR LA LOGISTIQUE</h5>
								</div>
							</div>
						</div>

						<div class="form-row" style="text-align: center">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trLundi">Tournée LUNDI</label>
									<select class="form-control" name="trLundi">
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trMardi">Tournée MARDI</label>
									<select class="form-control" name="trMardi">
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trMercredi">Tournée MERCREDI</label>
									<select class="form-control" name="trMercredi">
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trJeudi">Tournée JEUDI</label>
									<select class="form-control" name="trJeudi">
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trVendredi">Tournée VENDREDI</label>
									<select class="form-control" name="trVendredi">
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="trSamedi">Tournée SAMEDI</label>
									<select class="form-control" name="trSamedi">
										<option value=""></option>
										{% for tr in tournees %}
											<option value="{{ tr.Code_TOURNEE }}">{{ tr.Libelle_TOURNEE }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="form-row" style="text-align: center">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgLundi">Rang LUNDI</label>
									<input name="rgLundi" type="text" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgMardi">Rang MARDI</label>
									<input name="rgMardi" type="text" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgMercredi">Rang MERCREDI</label>
									<input name="rgMercredi" type="text" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgJeudi">Rang JEUDI</label>
									<input name="rgJeudi" type="text" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgVendredi">Rang VENDREDI</label>
									<input name="rgVendredi" type="text" class="form-control" ></div>
								</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="rgSamedi">Rang SAMEDI</label>
									<input name="rgSamedi" type="text" class="form-control" ></div>
								</div>
						</div>

						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label>Coordonnées GPS Livraison</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group" style="text-align: center">
									<label for="latitude" class="">Latitude</label><input id="lat" name="latitude" type="text" class="form-control" >
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group" style="text-align: center">
									<label for="longitude" class="">Longitude</label><input id="long" name="longitude" type="text" class="form-control" >
								</div>
							</div><div class="col-md-1">
								<div class="position-relative form-group">
								</div>
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="validGPS" class=""></label><button type="button" class="btn mr-2 mb-2 btn-success form-control"  data-toggle="modal" data-target=".bd-example-modal-lg" name="validGPS"  onclick="validCoorGPS()">Visualiser Coordonnées GPS</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block autres %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="validGPS" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validGPS">Visualisation Coordonnées GPS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<div class="modal-body" id="textGPS">
            </div>
            <div class="modal-body">
				<h6>Attention ne pas ce fier à l'adresse affiché sur la carte mais l'adresse dans le tableau ci-dessus.</h6>
		    </div>
            <div class="modal-body" id="GPS_Display">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}