{% extends 'base.html.twig' %}

{% block title %}Taux Egalim / Bio / Local{% endblock %}

{% block page %}
	Taux Egalim / Bio / Local : Clients du {{ dateStart|date('d/m/Y') }} au {{ dateEnd|date('d/m/Y') }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="card-title">Liste des Clients avec au moins une commande du {{ dateStart|date('d/m/Y') }} au {{ dateEnd|date('d/m/Y') }}</h5>
					<table class="mb-0 table table-striped">
						<thead>
							<tr>
								<th>Code Client</th>
								<th>Nom Client</th>
								<th>Adresse</th>
								<th>Code Postal</th>
								<th>ville</th>
                                <th>Générer PDF</th>
							</tr>
						</thead>
						<tbody>
							{% for client in clients %}
								<tr>
									<th>{{ client.Code_Client }}</th>
									<td>{{ client.Libelle_Client }}</td>
									<td>{{ client.Adresse }}</td>
									<td>{{ client.Code_Postal }}</td>
									<td>{{ client.Ville }}</td>
									<td><a href="{{ path("tauxEBL", {'ftgnr': client.Code_Client, 'dateStart': dateStart, 'dateEnd': dateEnd } ) }}" class="btn mr-2 mb-2 btn-primary">Générer PDF</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}