{% extends 'base.html.twig' %}

{% block title %}Taux Egalim / Bio / Local{% endblock %}

{% block page %}
	Taux Egalim / Bio / Local
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="card-title">Sociétés du Réseau Ribé</h5>
					<table class="mb-0 table table-striped">
						<thead>
							<tr>
								<th>Code Client</th>
								<th>Nom Client</th>
								<th>Adresse</th>
								<th>Code Postal</th>
								<th>ville</th>
                                <th>Générer PDF</th>
							</tr>
						</thead>
						<tbody>
							{% for client in clients %}
								<tr>
									<th>{{ client.ftgnr }}</th>
									<td>{{ client.ftgnamn }}</td>
									<td>{{ client.ftgpostadr1 }}</td>
									<td>{{ client.ftgpostnr }}</td>
									<td>{{ client.ftgpostadr3 }}</td>
									<td><a href="{{ path("tauxEBLByClient", {'ftgnr': client.ftgnr, 'dateStart': '03-09-2018', 'dateEnd': '31-12-2021' } ) }}" class="btn mr-2 mb-2 btn-primary">Générer PDF</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}