{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fiche Article{% endblock %}

{% block page %}
	Nouvelle Fiche Article
{% endblock %}

{% block actionsPage %}
	<form method="POST">
	
    <div class="d-inline-block dropdown">
		<a type="button" class="btn mr-2 mb-2 btn-danger" href="{{ path("deleteFicheArticle", {"id" : article.id}) }}">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-eraser fa-w-20"></i>
			</span>
			Supprimer la fiche
		</a>
	</div>

    <div class="d-inline-block dropdown">
		<button type="submit" class="btn mr-2 mb-2 btn-warning" name="BROUILLON">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-edit fa-w-20"></i>
			</span>
			Enregistrer en brouillon
		</button>
	</div>

	<div class="d-inline-block dropdown">
		<button type="submit" class="btn mr-2 mb-2 btn-success" name="VALID">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-check-square fa-w-20"></i>
			</span>
			Envoyer la fiche en validation
		</button>
	</div>
{% endblock %}

{% block body %}
	<div class="tab-content">
		<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
			<div class="main-card mb-3 card">
				<div class="card-body">
						<h5 class="card-title">Information Article</h5>

						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="generique" class="">Générique</label><input name="generique" type="text" class="form-control" maxlength="50" value="{{ article.generique }}" required></div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="esp_var" class="">Espèce / Variété</label><input name="esp_var" type="text" class="form-control" maxlength="100" value="{{ article.espVar }}"></div>
							</div>
						</div>
                        
                        <div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="marque" class="">Marque</label><input name="marque" type="text" class="form-control" maxlength="100" value="{{ article.marque }}"></div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="origine" class="">Origine</label><input name="origine" type="text" class="form-control" maxlength="100" value="{{ article.origine }}" required></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="calibre" class="">Calibre</label><input name="calibre" type="text" class="form-control" maxlength="100" value="{{ article.calibre }}"></div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="conditionnement" class="">Conditionnement</label><input name="conditionnement" type="text" class="form-control" maxlength="100" value="{{ article.conditionnement }}" required></div>
							</div>
						</div>
                        
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="categorie" class="">Catégorie</label><input name="categorie" type="text" class="form-control" maxlength="100" value="{{ article.categorie }}"></div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="grp_art" class="">Groupe Article</label>
                                    <select name="grp_art" type="text" class="form-control" required>
										<option value="{{ article.grpArticle }}">{{ grp_artCode.Libelle_GROUPE_ARTICLE }}</option>
                                        {% for grp in grp_art %}
											<option value="{{ grp.Code_GROUPE_ARTICLE }}">{{ grp.Libelle_GROUPE_ARTICLE }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<br>
							<br>
							<br>

						{% if app.user.company.name == "PROMER OCEAN" %}
							<h5 class="card-title">Spécificité Marée</h5>
							<div class="form-row">
								<div class="col-md-12">
									<div class="position-relative form-group">
										<label for="nom_latin" class="">Nom Latin</label><input name="nom_latin" type="text" class="form-control" maxlength="250" value="{{ article.maNomLatin }}"></div>
								</div>
							</div>

							<div class="form-row">
								<div class="col-md-12">
									<div class="position-relative form-group">
										<label for="zone_peche" class="">Zone de Pêche</label><input name="zone_peche" type="text" class="form-control" maxlength="250" value="{{ article.maZonePeche }}"></div>
								</div>
							</div>

							<br>
							<br>
							<br>
						{% else %}
							<input name="nom_latin" type="hidden" class="form-control" maxlength="250">
							<input name="zone_peche" type="hidden" class="form-control" maxlength="250">
						{% endif %}


						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="poids_colis" class="">Poids du Colis</label><input name="poids_colis" type="text" class="form-control" maxlength="100" value="{{ article.poidsColis }}"></div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="stat1" class="">STAT 1</label>
                                    <select name="stat1" type="text" class="form-control" required>
										<option value="{{ article.stat1 }}">{{ stat1Code.Libelle_STAT1 }}</option>
                                        {% for stat in stat1 %}
											<option value="{{ stat.Code_STAT1 }}">{{ stat.Libelle_STAT1 }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="dlc" class="">Variable</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="poids_variable">Oui</label>
									<input class="form-control" type="radio" id="oui" name="poids_variable" value="1" {% if article.poidsColisVariable == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="poids_variable" value="0" {% if article.poidsColisVariable == 0 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="stat2" class="">STAT 2</label>
                                    <select name="stat2" type="text" class="form-control" required>
										<option value="{{ article.stat2 }}">{{ stat2Code.Libelle_STAT2 }}</option>
                                        {% for stat in stat2 %}
											<option value="{{ stat.Code_STAT2 }}">{{ stat.Libelle_STAT2 }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="piece_colis" class="">Pièce du Colis</label><input name="piece_colis" type="text" class="form-control" maxlength="100" value="{{ article.pieceColis }}"></div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="stat3" class="">STAT 3</label>
                                    <select name="stat3" type="text" class="form-control" required>
										<option value="{{ article.stat3 }}">{{ stat3Code.Libelle_STAT3 }}</option>
                                        {% for stat in stat3 %}
											<option value="{{ stat.Code_STAT3 }}">{{ stat.Libelle_STAT3 }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="dlc" class="">Variable</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="piece_variable">Oui</label>
									<input class="form-control" type="radio" id="oui" name="piece_variable" value="1" {% if article.pieceColisVariable == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="piece_variable" value="0" {% if article.pieceColisVariable == 0 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="stat4" class="">STAT 4</label>
                                    <select name="stat4" type="text" class="form-control" required>
										<option value="{{ article.stat4 }}">{{ stat4Code.Libelle_STAT4 }}</option>
                                        {% for stat in stat4 %}
											<option value="{{ stat.Code_STAT4 }}">{{ stat.Libelle_STAT4 }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<br>
						<br>
						<br>

						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="dlc" class="">DLC</label>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="oui">Oui</label>
									<input class="form-control" type="radio" id="oui" name="dlc" value="1" {% if article.dlc == 1 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-1">
								<div class="position-relative form-group">
  									<label for="non">Non</label>
									<input class="form-control" type="radio" id="non" name="dlc" value="0" {% if article.dlc == 0 %}checked{% endif %}>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="men_val" class="">Mention Valorisante</label>
                                    <select name="men_val" type="text" class="form-control">
										<option value="{{ article.menVal }}">{{ men_valCode.1 }}</option>
                                        {% for menVal in men_val %}
											<option value="{{ menVal.Code_MENTION }}">{{ menVal.Libelle_MENTION }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="dlc_depart" class="">Si Oui, DLC Départ Usine</label><input name="dlc_depart" type="text" class="form-control" maxlength="100" value="{{ article.dlcJour }}"></div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="loc" class="">Localisation</label>
                                    <select name="loc" type="text" class="form-control" required>
										<option value="{{ article.localisation }}">{{ locCode.Libelle_LOCALISATION }}</option>
                                        {% for loc in loc %}
											<option value="{{ loc.Code_LOCALISATION }}">{{ loc.Libelle_LOCALISATION }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="unite_achat" class="">Unité d'Achat Courante</label>
                                    <select name="unite_achat" type="text" class="form-control">
										<option value="{{ article.uniteAchat }}">{{ article.uniteAchat }}</option>
                                    	<option>COLIS</option>
                                    	<option>KG</option>
                                    	<option>PIECE</option>
                                    </select></div>			
							</div>
							<div class="col-md-3">
								<div class="position-relative form-group">
									<label for="unite_vente" class="">Unité de Vente Courante</label>
                                    <select name="unite_vente" type="text" class="form-control">
										<option value="{{ article.uniteVente }}">{{ article.uniteVente }}</option>
                                    	<option>COLIS</option>
                                    	<option>KG</option>
                                    	<option>PIECE</option>
                                    </select></div>			
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="rup" class="">RUP</label>
                                    <select name="rup" type="text" class="form-control">
										<option value="{{ article.rup }}">{{ rupCode.1 }}</option>
                                        {% for rup in rup %}
											<option value="{{ rup.Code_RUP }}">{{ rup.Libelle_RUP }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="unite_stock" class="">Unité de Stock</label>
                                    <select name="unite_stock" type="text" class="form-control">
										<option value="{{ article.uniteStock }}">{{ article.uniteStock }}</option>
                                    	<option>COLIS</option>
                                    	<option>KG</option>
                                    	<option>PIECE</option>
                                    </select></div>			
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="siqo" class="">SIQO</label>
                                    <select name="siqo" type="text" class="form-control">
										<option value="{{ article.siqo }}">{{ siqoCode.1 }}</option>
                                        {% for siqo in siqo %}
											<option value="{{ siqo.Code_SIQO }}">{{ siqo.Libelle_SIQO }}</option>
										{% endfor %}
                                    </select></div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

