{% extends 'base.html.twig' %}

{% block title %}Fiches Article{% endblock %}

{% block page %}
	Liste des Fiches Article
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body" style="overflow-x: auto; width: 100%;">
					<table class="mb-0 table table-striped">
						<thead>
							<tr>
								<th>Société</th>
								<th>Code Fiche</th>
								<th>Etape Fiche</th>
								<th>Utilisateur</th>
								<th>Générique</th>
								<th>Stat 1</th>
							</tr>
						</thead>
						<tbody>
							{% for article in articles %}
							<tr></tr>
								<tr style="background-color: {{ article.company.colorCode }}; color: {{ article.company.colorText }};">
									<th>{{ article.company.name }}</th>
									<td>{{ article.codeFiche }}</td>
									<td>{{ article.etapeFiche }}</td>
									<td>{{ article.utilisateur }}</td>
									<td>{{ article.generique }}</td>
									<td>{{ article.stat1 }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}