{% extends 'base.html.twig' %}

{% block title %}Mes Fiches Article{% endblock %}

{% block page %}
	Liste de Mes Fiches Article
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="card-title">Liste de Mes Fiches Article</h5>
					<table class="mb-0 table table-striped">
						<thead>
							<tr>
								<th>Société</th>
								<th>Etape Fiche</th>
								<th>Utilisateur</th>
								<th>Générique</th>
								<th>Stat 1</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for article in articles %}
								<tr style="background-color: {{ article.company.colorCode }}">
									<th>{{ article.company.name }}</th>
									<th>{{ article.etapeFiche }}</th>
									<th>{{ article.username.firstName }}  {{ article.username.lastName }}</th>
									<th>{{ article.generique }}</th>
									<th>{{ article.stat1 }}</th>
									<th>{% if article.etapeFiche == "BROUILLON" %}<a type="button" class="btn mr-2 mb-2 btn-danger" href="{{ path("editFicheArticle", {'id' : article.id }) }}"><span class="btn-icon-wrapper pr-2 opacity-7"><i class="fa fa-eraser fa-w-20"></i></span>Modifier la fiche</a>{% endif %}</th>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}