{% extends 'base.html.twig' %}

{% block title %}Stats HubOne{% endblock %}

{% block page %}
	Stats HubOne
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="card-title">LTROUVER UN TRITRE</h5>
					<table class="mb-0 table table-striped" style="display: block; overflow-x: auto; white-space: nowrap;">
						<thead>
							<tr>
								<th>Tournée</th>
								<th>Date</th>
								<th>Société Départ</th>
								<th>Société Commande</th>
								<th>N° Commande</th>
                                <th>Code Client</th>
							</tr>
						</thead>
                        <br>
						<tbody>
							{% for client in clients %}
								<tr {% if client.18 == 0 %}style="background-color: orange"{% endif %}>
									<th>{{ client.Tournee }}</th>
									<td>{{ client.Date|localizeddate('none', 'none', 'fr', null, 'EEEE d/MM/Y') }}</td>
									<td>{{ client.2 }}</td>
									<td>{{ client.3 }}</td>
									<td>{{ client.4 }}</td>
									<td>{{ client.5 }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}